<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    {{> header }}
    <body>
        <h3>
            <i>Projects coming soon...</i>
        </h3>
    </body>

    {{> footer }}

</html>